{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="container">
        <div class="card text-center text-primary">
            <div class="card-header">
                <h3>Modification du mot de passe</h3>
            </div>
            <div class="card-body" id="formu">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}