<!doctype html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
    <table>
        <tr>
            <th><img src="http://www.laplagedigitale.eu/wp-content/themes/slate/images/flex/flex-08.png"  height="50px" alt=""></th>
        </tr>
        <tr>
            <td>Bonjour et bienvenue parmis nous, {{ registration_man.firstname }}.</td>
        </tr>
        <tr>
            <td>Votre Pseudo : <strong>{{ registration_man.username }}</strong>.</td>
        </tr>
        <tr>
            <td>Nous sommes toujours heureux d'acceuillir de nouveaux nageurs parmis nous.</td>
        </tr>
        <tr>
            <td>Votre compte est pour le moment désacitvé. Si vous avez cotisé, le maître nageur activera votre compte dès que possible. Sinon, noubliez pas de cotisé ;)</td>
        </tr>
        <tr>
            <td>A bientot dans l'espace flex !</td>
        </tr>
        <tr>
            <th><img src="http://www.laplagedigitale.eu/wp-content/uploads/2015/04/plage-digitale.jpg"  height="50px" alt=""></th>
        </tr>
    </table>
    </body>
    </html>
