h1, h2, h3, h4, h5 {
    font-family: 'Pattaya', sans-serif;
}

#raz {
    border-radius: 60px;
    box-shadow: 10px 10px 20px grey;
    transition: box-shadow 1s ease;
}

#raz:hover {
    box-shadow: 5px 5px 20px grey;
}

.img-thumbnail {
    border: none;
}

/*
    Utilisé pour rendre les background-color des img-thumbnail de la meme couleur que le hover au hover
 */
.admin-list:hover .img-thumbnail, .user-list:hover .img-thumbnail {
    background-color: #f6f6f6;
}

.jumbotron.first {
    box-shadow: none;
    transition: box-shadow 1s ease;
}

.jumbotron.first:hover {
    box-shadow:  0px 0px 30px 5px rgba(100,100,100,0.2);
}

.alertFade {
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    top: 38.9vh;
    z-index: 10;
}

.alertFadeIn {
    opacity: 1;
    position: absolute;
    top: 38.9vh;
    z-index: 10;
}

.btn-adjust {
    border-width: 0 1px 1px 1px!important;
    border: solid #158CBA;
    background: rgb(240, 240, 240);
    color: #158CBA;
    transition-property: background, color;
    transition-duration: .5s;
    transition-delay: .1s;
}
.btn-adjust:hover {
    background: #158CBA;
    color: rgb(240, 240, 240);
}

.btn-halfdays {
    position: relative;
}

.notif-free {
    position: absolute!important;
    transform: translate(-107%,-14%);
    top: -5px!important;
    font-size: 14px;
    background: rgb(124, 222, 132);
    display: block;
    height: 22px;
    border-radius: 50%;
}

.modal-free-halfdays {
    background: rgb(240, 240, 240);
    border-radius: 20%;
    padding: 5px 5px;
    cursor:pointer;
}

.modal-forgot-checkout {
    background: rgb(240, 240, 240);
    border-radius: 5%;
    padding: 5px 5px;
    cursor:pointer;
    color:rgb(150, 0, 0);
}

.toggle-tarif-mensuel {
    position: absolute!important;
    transform: translate(-20%,-50%);
    background: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor:pointer;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    font-size: 11px;
    transition-property: background, color;
    transition-duration: .5s;
    transition-delay: .1s;
}

.toggle-tarif-mensuel:hover {
    background: rgb(140,140,140);
    /* background: rgb(124, 222, 132); */
    color: rgb(240,240,240);
}

.monthly-price {
    background:rgb(124, 222, 132);
    padding: 5px;
    border-radius:20%;
    cursor:pointer;
}

.jumbotron {
    padding: 20px;
}

.home-image {
    border: 2px solid #0d6efd;
    width: 40%;
    height: auto;
    object-fit: cover;
    margin-right: 1em;
}